/* header */
.header-logo {
    display: flex;
    align-items: center;
}

.logo {
    background-color: #ff0000; 
    color: #fff; 
    width: 80px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px; 
}

.logo span {
    font-size: 20px; 
}
.header-title h1 {
    margin: 10px;}
span {
    color: red;
}
/* nội dung */
.card-img-top {
   
    height: 250px;
}
/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo h1 {
    color: #fff;
    margin: 0;
}

.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links ul li {
    display: inline;
    margin-right: 20px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* sign-up form */
*{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
#body {
    overflow: hidden;
    background-color: #ededed;
}
.form {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}

.sign-up {
    border: 1px solid #80808000;
    grid-column: 6/9;
    grid-row: 3;
    height: 470px;
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
}
#new {
    margin-top: 50px;
    margin-bottom: 30px;
}



input{
    display: block;
    border-bottom: 2px solid #00BCD4;
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
}
input[type="text"] {
    padding: 5px;
    width: 70%;
}
#submit {
    padding: 7px;
    width: 50%;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #fc00ff, #00dbde);
}
#submit:hover{

    background: linear-gradient(to right, #fc466b, #3f5efb); 
}
/* background-search */
.background-search {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
    background: #0000;
    background-size: cover;
    background-blend-mode: darken;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#search {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#search-button :hover {
    background-color: #45a049;
}