
.header-title h1 {
    margin: 10px;}
.web-title{
    background: linear-gradient(#ee0979,#ff6a00);
    -webkit-background-clip: text;
    color: transparent;

}

.nav-tem {
    margin: 10px;
    
}
.nav {
    justify-content: space-around;
    font-size: 22px;
}
/* nội dung */
.background-image {
margin: 15px;
}
.card-img-top {
   
    height: 250px;
}
.card-title a {
    text-decoration: none;
    color: #fc466b;
}
.home-content-card-group{
    margin:10px 150px;
}
/* footer */
a{
    text-decoration: none;
}
footer {
    background-color: #FFE4C4;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links ul li {
    display: inline;
    margin-right: 20px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* sign-up form */
#sign-up {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.close-button {
    position: relative;
    
}
#close{
    top: 10px;
    right: 10px;
    color: red;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    
}

.new {
    position: relative;
    color: #061914;
    z-index: 1;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#submit {
    padding: 10px 20px;
    border: 30px;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to right,#FCF54C,#FF6600);
}
#submit:hover{
    background: linear-gradient(to right,#FFA07A,#FF3333 ); 

}
/* log in form */
.login-form{
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#login{
    padding: 10px 20px;
    border: 30px;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to right,#FCF54C,#FF6600);
}
#login:hover{
    background: linear-gradient(to right,#FFA07A,#FF3333 ); 

}
/* background-search */
.background-search {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
    background: #0000;
    background-size: cover;
    background-blend-mode: darken;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#search {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#search-button :hover {
    background-color: #45a049;
}
/* RESPONSIVE */